<!DOCTYPE html>
<html>
  <head>
    <title>Hummus</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  </head>
  <body>
<% content %>
  </body>
</html>
