<h1>[% s.title %]</h1>
<div class=instructions>[% s.instructions %]</div>
[% INCLUDE 'snippets/messages.tt' %]
<form class=login method=post action='/login'>
  <input name=email>
  <label>[% s.email    %]</label>
  <input type=password name=password>
  <label>[% s.password %]</label>
  <button type=submit>[% s.login %]</button>
</form>
