<h1>[% s.title %]</h1>
<div class=instructions>[% s.instructions %]</div>
[% INCLUDE 'snippets/messages.tt' %]
<form class=register method=post>
  <input name=email>
  <label>[% s.email %]</label>
  <input type=password name=password>
  <label>[% s.password %]</label>
  <input type=password name=password2>
  <label>[% s.password2 %]</label>
  <button type=submit>[% s.register %]</button>
</form>
