<h1>[% s.title %]</h1>
<div class=instructions>[% s.instructions %]</div>
[% INCLUDE 'snippets/messages.tt' %]
<form class=register method=post>
  <label>[% s.email %]</label><input name=email>
  <label>[% s.password %]</label><input type=password name=password><input type=password name=password2>
  <button type=submit>[% s.register %]</button>
</form>
