<h1>Registration</h1>
<div class='message'>
  <div class=title>Registration Complete</div>
  You have successfully registerd. You should be
  getting an email shortly with information on
  activating your account.
  </div>
</div>
