/*
 * Color defintions:
 *   dark chocolate  #1f1b19
 *   hummus          #fdffba
 *   mint            #a7db9e
 *   carmine         #a1172d
 *   sea green       #275c57
 *   light grey      #777777
 *   dark grey       #444444
 */

body {
    font-family      : 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
    font-size        : 10pt;
    padding          : 0;
    margin           : 2em;
    background       : #1f1b19;
    color            : #777;
}

h1 {
    color            : #fdffba;
    font-size        : 4em;
    line-height      : 1em;
    font-weight      : normal;
}

label {
    color            : #fdffba;
    display          : block;
    font-size        : 1em;
    line-height      : 1em;
}

form {
    margin           : 2em 0;
}

input {
    display          : block;
    font-size        : 2em;
    background       : none;
    border           : none;
    color            : #777;
    margin           : 0.25em 0 0.5em;
    padding          : 0 0.25em;
    border-radius    : 0.25em;
    border           : 2px solid #444;
}

input:focus {
    border-color     : #a7db9e;
    outline          : none;
    background       : #444;
    color            : #fdffba;
}

button {
    font-size        : 1.5em;
    font-family      : 'Helvetica Neue';
    background       : none;
    border           : 2px solid #444;
    border-radius    : 1em;
    color            : #fdffba;
    margin           : 0.25em 0 0.5em;
    padding          : 0.2em 0.5em;
}

button:focus {
    border-color     : #a7db9e;
    outline          : none;
    background       : #444;
}

a {
    text-decoration  : none;
    color            : #a7db9e;
}

div.message {
    border           : 2px solid #777;
    border-radius    : 1em;
    font-size        : 1em;
    margin           : 2em 0;
    padding          : 0.7em 1.5em;
    width            : 25em;
    color            : #aaa;
}

div.message .title {
    font-size        : 1.5em;
    color            : #fdffba;
}

div.error {
    border-color     : #c66;
    background       : #522;
}
